# Системные файлы (мусор от Windows и Mac)
.DS_Store
Thumbs.db
Desktop.ini

# Папки редакторов кода (твои личные настройки VS Code или WebStorm)
.vscode/
.idea/

# Безопасность (ОЧЕНЬ ВАЖНО для расширений)
# Chrome может создать этот файл ключа при упаковке. 
# Если он попадет в сеть, кто угодно сможет выпустить обновление от твоего имени.
*.pem

# Если вдруг будешь использовать Node.js в будущем
node_modules/
package-lock.json
yarn.lock
.env